# Ignore all files; un-ignore directories for traversal (allowlist-strategy)
/**/*
!**/

# Except the following files...

# Boilerplate
!/.gitignore
!/LICENSE
!/README.md

# Editor config
!/.vscode/extensions.json
!/.vscode/settings.json

# Actual source files
!/Dockerfile
!/tarclone.sh

# Tests
!/test/smoke.sh

# Example files
!/example/
